/* Reset de estilos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos para el contenedor */
.container {
    min-width: 500px;
    min-height: 500px;
    max-width: 70vw;
    max-height: 70px;
    background-color: blue;
    margin: 10% 30%;
    border-radius: 10%;
    
}

.arriba {
    position: relative;
    background-color: red;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    bottom: 100px;
    margin: auto;

}

.izquierda {
    background-color: red;
    position: relative; 
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin: auto;
    bottom: -120px;
    right: -500px; 
}

.derecha {
    background-color: red;
    position: relative; 
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin: auto;
    right: 400px;
    bottom: 40px;
}

.abajo {
    background-color: red;
    position: relative; 
    width: 80px;
    height: 80px;
    margin: auto; 
    border-radius: 10px;
    bottom: -200px;
}

.medio {
    background-color: grey;
    position: relative; 
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin: auto; 
    bottom: -40px;
}


